<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="Enforce trailing slash" stopProcessing="true">
                    <match url="(.*[^/])$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" pattern="(.*?)\.html$" negate="true" />
                        <add input="{REQUEST_FILENAME}" pattern="(.*?)\.php$" negate="true" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="{R:1}/" />
                </rule>
                <rule name="Block FancyIndexing if an index file exists" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{DOCUMENT_ROOT}/{R:0}index.html" matchType="IsFile" />
                        <add input="{DOCUMENT_ROOT}/{R:0}index.php" matchType="IsFile" />
                    </conditions>
                    <action type="None" />
                </rule>
                <rule name="FancyIndexing rewrite" patternSyntax="Wildcard" stopProcessing="false">
                    <match url="*" ignoreCase="true" negate="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
                    </conditions>
                    <action type="Rewrite" url="/FancyIndexing/list.php?path={R:1}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
        <security>
            <requestFiltering allowDoubleEscaping="true" />
			<!-- Allow files with plus symbol to be downloaded. -->
        </security>
    </system.webServer>
</configuration>
